{% extends 'base.html' %}

{% block title %}Create Task{% endblock %}

{% block content %}
    <h1>Create Task</h1>
    <form method="POST" action="{% url 'task_create' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create Task</button>
    </form>

    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Task created successfully!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            {% if success_message %}
            $('#successModal').modal('show');
            $('#successModal').on('hidden.bs.modal', function() {
                window.location.href = "{% url 'task_list' %}";
            });
            {% endif %}
        });
    </script>
{% endblock %}
